@font-face {
  font-family: roboto;
  src: url(../scripts/Roboto.zip); }

body {
  font-family: roboto; }

.navScroll {
  background-color: rgba(0, 0, 0, 0.863); }

.nav-link {
  color: #e6e6e6;
  transition: 0.5s; }

.nav-link:hover {
  color: white;
  transform: scale(1.1); }

.gradienteHead, header {
  background-image: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 100%);
  transition: all 1.5s ease; }

.btn-link {
  color: #F2F2F2;
  transition: 0.5s; }

.btn-link:hover {
  color: white;
  transform: scale(1.1); }

.seccion, .seccion1, .seccion2, .seccion3 {
  background-color: #F2F2F2;
  align-items: center;
  justify-content: center; }

.seccion1 {
  background-color: black;
  color: #F5F5F7;
  text-align: end; }

.seccion2 {
  color: black;
  text-align: start; }

.seccion3 {
  font-style: italic; }

.vr {
  width: 1px; }

footer {
  color: #f1f1f1;
  background: #1C1C1C; }
