@font-face {
  font-family: roboto;
  src: url(../scripts/Roboto.zip); }

body {
  font-family: roboto; }

header {
  background-image: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 100%);
  transition: all 1.5s ease; }
  header nav ul {
    align-items: end; }

.navScroll {
  background-color: rgba(0, 0, 0, 0.863); }

.nav-link {
  color: #e6e6e6;
  transition: 0.5s; }

.nav-link:hover {
  color: white;
  transform: scale(1.1); }

.navbar-collapse {
  justify-content: center; }

.navbar-toggler {
  justify-content: end; }

.seccion2 {
  background-color: #F2F2F2; }

.seccion3 {
  background-color: #EAEAEA; }

footer {
  color: #f1f1f1;
  background-color: #1C1C1C; }
  footer hr {
    height: 10px;
    background-image: linear-gradient(283deg, #00f1ff 0%, #004eff 100%); }
