footer{
    background: map-get($colores , "grisopaco" );
}
.p30x30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.icoredes{
    color: rgb(241, 241, 241);
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: map-get($colores , "pocoBlanco" );
}
.icoredes:hover{
    color: rgb(255, 255, 255);
}
.logofooter{
    padding-bottom: 50px;
}

.f1{
    padding-top: 10px;
    font-size: smaller;
    color: map-get($colores , "pocoBlanco" );
}

.f2{
    background: map-get($colores , "dark" );
    color: map-get($colores , "pocoBlanco" );
    font-size: smaller;
}
.vr{
    min-height: 15px;
    width: 2px;
    color: rgb(255, 255, 255);
}