main{
    background-color: map-get($colores ,"casiBlanco");
}

.btn-link{
    color: map-get($colores , "casiBlanco" );
    transition: 0.5s;
}
.btn-link:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.producto{
    transition: 0.3s;
    max-width: 480px;
}


.producto:hover{
    transform:scale(1.005);
    box-shadow: 1px 1px 1px 1px rgb(151, 151, 151);
}
.imgprod{
    max-height: 250px;
}
.icomp{
    height: 80px;
}

.txgradred{
    background:linear-gradient(87deg, rgba(223,45,45,1) 0%, rgba(255,255,255,1) 34%);  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.txred{
    background:linear-gradient(87deg, rgba(242,242,242,1) 43%, rgba(223,45,45,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.txgradblue{
    background:linear-gradient(87deg, rgb(21, 143, 236) 58%, rgb(218, 137, 32) 100%);  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.txgradbluelight{
    background:linear-gradient(87deg, rgba(23,23,23,1) 14%, rgba(0,63,119,1) 43%);  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.txgradyel{
    background: linear-gradient(87deg, rgba(23,23,23,1) 38%, #774200 64%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.txgradyelwt{
    background: linear-gradient(87deg, rgba(232,232,232,1) 0%, rgba(119,66,0,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.txgradgreen{
    background: linear-gradient(87deg, rgba(242,242,242,1) 61%, rgba(4,103,93,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.btn-dark{
background-image: linear-gradient(87deg, rgba(1,47,43,1) 0%, rgba(5,120,108,1) 100%);
}

.padding{
    padding-top: 60px;
    padding-bottom: 60px;
}

.bgdark{
    background-color: #111111;
}

.seccion{
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.seccion1{
    @extend .seccion;
    background-color: #111111;
    color: #F5F5F7;
    text-align: start;
}

.seccion2{
    @extend .seccion;
    color:map-get($colores ,"negrotx");
    text-align: end;
}

.seccion3{
    @extend .seccion;
    color:map-get($colores ,"negrotx");
    text-align: start;
    padding-top: 120px;
    padding-bottom: 120px;
}

.seccion4{
    @extend .seccion;
    background-color: #050404;
    color: map-get($colores, "casiBlanco")
}

.seccion5{
    @extend .seccion;
    font-style: italic;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}