@media  (max-width: 991.98px) {
    body{
        text-align: center;
        justify-content: center;
        align-content: center;
        nav{
            background-color: #111111;
        }
    }
.bgnav{
    padding-top:60px;
}
.seccion{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px
}
.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
}


    
