@font-face {
    font-family: SF;
    src: url(../scripts/SF-Pro-Display-Medium.otf);
}
body{
    font-family: SF;
}
@import "./mixins";    
@import "./variables";
@import "./header";
@import "./main";
@import "./footer";
@import "./medias";